<a href="https://colab.research.google.com/github/KevinD2308/programming-fundamentals/blob/master/Python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
fruits = {'banana':3,'apple':2, 'mango':1, 'kiwi':5}
fruits_list = [ [key]* value for key,value in fruits.items()]
print (fruits_list)

[['banana', 'banana', 'banana'], ['apple', 'apple'], ['mango'], ['kiwi', 'kiwi', 'kiwi', 'kiwi', 'kiwi']]

In [0]:
fruits = ['banana','apple', 'mango', 'kiwi']

shortest_length = len (fruits[0])
shortest_fruit = fruits [0]
for fruit in fruits:
  if len(fruit) < shortest_length:
    shortest_length = len (fruit)
    shortest_fruit = fruit
    
print (shortest_fruit)

kiwi

In [0]:
ex_text = '''What a to do to die today at a 1/4 or 2 to 2. 
A terrible difficult thing to say but a harder thing still to do. 
The dragon will come at the beat of the drum with a rat-tat-tat-tat-tat-tattoo 
at a 1/4 or 2 to 2 today, at a 1/4 or 2 to 2.'''.lower()

set_numbers = {"0","1","2","3","4","5","6","7","8","9"}
set_letters = {"a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x","y","z"}
amount_numbers = 0
amount_letters= 0
amount_os= 0
for character in ex_text:
  if character in set_numbers:
    amount_numbers += 1
  elif character in set_letters:
    amount_letters +=1
  else:
    amount_os += 1
    
print (amount_numbers, amount_letters, amount_os)

12 158 69

In [0]:
h_age = int(input("Input a dog's age in human years: "))
if h_age < 0:
  print("Age must be positive number.")
  exit()
elif h_age == 1:
	d_age = h_age * 15
elif h_age == 2:
	d_age = h_age * 12
else:
	d_age = 24 + (h_age - 2)*4
      
print("The dog's age in dog's years is", d_age)

Input a dog's age in human years: 6
The dog's age in dog's years is 40

In [0]:
seq = [1,44,30,15,2,18]
even_numbers = 0
odd_numbers = 0
for x in seq:
  if x % 2 == 1:
    odd_numbers += 1
  else:
    even_numbers +=1
print ("even numbers:",even_numbers)
print ("odd numbers:", odd_numbers)

even numbers: 4
odd numbers: 2

In [0]:
rows = int (4)

for i in range (0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')

    print("\r")

*
* *
* * *
* * * *

In [0]:
stringg = 'python'
set_of_vowels = ["y","o"]
for char in stringg:
  if char in set_of_vowels:
    stringg = stringg.replace(char,(char.upper()))
print (stringg)

pYthOn