<a href="https://colab.research.google.com/github/KevinD2308/programming-fundamentals/blob/master/python_1_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# W4 - Python data types assignment

# 1. Print word `python` in reverse order

In [1]:
'python' [5] + 'python' [4] + 'python' [3] + 'python' [2] + 'python' [1] + 'python' [0]

'nohtyp'

# 2. Define variables `apples` and `oranges` and using `format` method print following string:
>I have **7** apples and **5** oranges, therefore I have **12** fruits.`

In [2]:
a = 'apples'
o = 'oranges'
'I have 7 {0} and 5 {1}, therefore I have 12 fruits.'.format (a, o)

'I have 7 apples and 5 oranges, therefore I have 12 fruits.'

# 3. Convert list of characters (`['a', 'b', 'c', 'd']`) to string (`'abc'`)

In [14]:
list66 =(['a', 'b', 'c', 'd'])
string =''.join(list66)
string

'abcd'

# 4. Get difference between two lists (e.g. `[1, 2, 3, 4, 8, 12]` and `[1, 4, 8, 2]`)

In [5]:
list = ['1' , '2' , '3']
list2 = ['2' , '6' , '5']
str1=''.join(list)
str2=''.join(list2)
set(str1)
set(str2)
set(str1).difference(set(str2))

{'1', '3'}

# 5. Add an item to a tuple
```python
tuple_numbers = (4, 6, 2, 8, 3, 1) 
```

In [13]:
tuple_numbers = (4, 6, 2, 8, 3, 1)
b= (9)
new = tuple_numbers + (b,)
new

(4, 6, 2, 8, 3, 1, 9)

# 6. Convert a tuple to a string
```python
input_tuple = ('p', 'y', 't', 'h', 'o', 'n')
output_string = 'python'
```

In [12]:
input_tuple = ('p', 'y', 't', 'h', 'o', 'n')
str4=''.join(input_tuple)
str4

'python'

# 7. Combine two dictionaries into one

```python
names1 = {'Jack': 25, 'John': 26, 'Emily': 23}
names2 = {'Carol': 28, 'Walter': 22}
```

In [11]:
names1 = {'Jack': 25, 'John': 26, 'Emily': 23}
names2 = {'Carol': 28, 'Walter': 22}
names = {**names1, **names2}
names

{'Carol': 28, 'Emily': 23, 'Jack': 25, 'John': 26, 'Walter': 22}

# 8. Sum all the items in a dictionary
```python
ice_cream_price = {'Chocolate': 200, 'Strawberry': 188, 'Vanilla': 175, 'Caramel': 180}
```

In [16]:
ice_cream_price = {'Chocolate': 200, 'Strawberry': 188, 'Vanilla': 175, 'Caramel': 180}
sum(ice_cream_price.values())

743

# 9. Remove item(s) from set. Can you guess which item will be removed?
```python
set_numbers = {1, 2, 3, 4, 5}
set_letters = {'p', 'y', 't', 'h', 'o', 'n'}
```

In [0]:
set_numbers = {1, 2, 3, 4, 5}
set_numbers.remove(1)

set_letters = {'p', 'y', 't', 'h', 'o', 'n'}
set_letters.remove('p')

# 10. split list into 3 different variables 
```python
color = [
    ("Black", "#000000", "rgb(0, 0, 0)"), 
    ("Red", "#FF0000", "rgb(255, 0, 0)"), 
    ("Yellow", "#FFFF00", "rgb(255, 255, 0)")
]
```

In [23]:
color = [
     ("Black", "#000000", "rgb(0, 0, 0)"),
     ("Red", "#FF0000", "rgb(255, 0, 0)"),
     ("Yellow", "#FFFF00", "rgb(255, 255, 0)")
 ]
var1, var2, var3 = color
var1

('Black', '#000000', 'rgb(0, 0, 0)')

# BONUS: test whether every element of first set is in second set and vice versa using using relational operators
```python
set_a = set(['Chocolate', 'Strawberry', 'Vanilla', 'Caramel'])
set_b = set(['Vanilla', 'Caramel','Chocolate', 'Strawberry'])
set_c = set(['Chocolate'])
```

In [24]:
set_a = set(['Chocolate', 'Strawberry', 'Vanilla', 'Caramel'])
set_b = set(['Vanilla', 'Caramel','Chocolate', 'Strawberry'])
set_c = set(['Chocolate'])
set_a <= set_b
set_b <= set_a
set_b <= set_c
set_a <= set_c

False